<%- include('partials/appheader') %>

<main id = "friend-main">
  <section>
    <h1>UniResCollab Universe</h1>

    <ul class="friend-list">
      <% if (users && users.length > 0) { %>
        <% users.forEach(user => { %>
          <li class="friend-item">
            <figure class="friend-avatar">
              <figcaption><%= user.username.charAt(0).toUpperCase() %></figcaption>
            </figure>
            <strong class="friend-name"><%= user.username %></strong>
            <a href="/tools/chat/<%= user._id %>" class="chat-link">Chat</a>
          </li>
        <% }) %>
      <% } else { %>
        <li>No friends found.</li>
      <% } %>
    </ul>
    <form action="/files/share"method="get">
      <button type="submit" class="neu-button">
          Files →
      </button>
  </form>

  </section>
</main>

<%- include('partials/footer') %>


